/* CarDetails.css */

.car-details-container {
  /* padding-left: 20px; */
  padding: 20px;
  display: block;
}
/* .paymentPage {
  margin: 5px;
  /* padding-right: 20px; */
/* padding: 40px; */
/* } */
.slider-container {
  /* display: flex; */
  justify-content: center; /* Center the sliders horizontally */
}

.slider-container table {
  width: 100%; /* Ensure the table fills the container */
  margin-left: 10px;
}

.slider-container tr {
  width: 0%; /* Each slider takes up half of the container */
  /* margin-left: 10px; */
  padding: 0 0px; /* Add some padding between sliders */
}
.details {
  position: relative; /* Required for absolute positioning of ::after */
  text-decoration: none; /* Remove default underline */
}

/* Style the ::after pseudo-element for colored underline */
.details::after {
  content: "";
  position: absolute;
  bottom: 13px; /* Adjust the position of the underline as needed */
  left: 0;
  width: 11%;
  border-bottom: 5px solid rgb(17, 17, 67); /*Change 'blue' to your desired color */
}
/* .car-detail-table {
  background-color: rgb(10, 33, 65);
} */
table.table-bordered.car-detail-table {
  border: 2px solid rgb(10, 33, 65); /* Change the border color to red */
  background-color: #842a2a !important; /* Change the background color to light gray */
  color: #362121; /* Change the text color to dark gray */
}
