.search-filter{
    background: rgb(10, 33, 65);
}

/* rgb(16, 51, 101) */

.self-end{
    background: rgb(63, 43, 242);
    border-radius: 10%;
    
    /* color: black; */
}

/* .p-4 .text-white .shadow-md .rounded-md .search-filter {
    align-items: center;
    padding-left: 40px;
} */